.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  /* display: grid; */
  /* align-items: center; */
  /* justify-items: center; */
  max-width: 100vw;
  min-height: 100vh;
  /* overflow-y: scroll; */
  /* overflow-x: hidden; */
}

.nav {
  width: 100vw;
  height: 90px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.links {
  display: flex;
  gap: 28px;
  align-items: center;
  margin-right: 16px;
}

.navlink {
  font-weight: 300;
  color: #292a2e;
  cursor: pointer;
}

.navButtonPrimary {
  background: #565add;
  color: #f0f1ff;
  border-radius: 9999px;
  font-weight: 300;
  cursor: pointer;
  border: 5px solid #9fa1ec;
  padding: 0.75em 1em;
}

.navButtonSecondary {
  background: #f0f1ff;
  color: #4b42ae;
  border-radius: 9999px;
  font-weight: 300;
  cursor: pointer;
  padding: 0.75em 1em;
}

.section1 {
  background: #d1d1f7;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: clamp(5rem, 2.44rem + 5vw, 9rem);
  padding-bottom: 90px
}

.quote {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  /* max-width: 800px; */
  color: #2b1c50;
  font-size: clamp(
    calc(1em * 2.1875),
    calc(calc(1em * 2.1875) + (-1em * 48 * calc((4.375 - 2.1875) / (100 - 48)))) +
      calc(100vw * calc((4.375 - 2.1875) / (100 - 48))),
    calc(1em * 4.375)
  );
  letter-spacing: calc(0.1rem - 0.072em);
  /* margin-bottom: 0.8rem; */
  line-height: 1.524;
}

.logo {
  height: 48px;
}

.description {
  letter-spacing: calc(0.1rem - 0.072em);
  font-size: clamp(
    calc(1em * 1.3125),
    calc(calc(1em * 1.3125) + (-1em * 48 * calc((1.75 - 1.3125) / (100 - 48)))) +
      calc(100vw * calc((1.75 - 1.3125) / (100 - 48))),
    calc(1em * 1.75)
  );
  font-weight: 300;
  text-align: center;
  max-width: 50ch;
  color: #3d2e7c;
  line-height: 1.524em;
}

.buttons {
  display: flex;
  gap: 16px;
  margin-top: 40px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: clamp(3rem, 1.2rem + 3vw, 5rem);
}

.buttonPrimary {
  background: #565add;
  color: #f0f1ff;
  border-radius: 9999px;
  font-weight: 600;
  cursor: pointer;
  border: 5px solid #9fa1ec;
  padding: 1.25em 1.5em;
}

.buttonSecondary {
  background: #f0f1ff;
  color: #4b42ae;
  border-radius: 9999px;
  font-weight: 600;
  cursor: pointer;
  padding: 1.25em 1.5em;
}

.video {
  margin: none;
  border-radius: clamp(
    calc(1em * 2),
    calc(calc(1em * 2) + (-1em * 48 * calc((2.75 - 2) / (100 - 48)))) +
      calc(100vw * calc((2.75 - 2) / (100 - 48))),
    calc(1em * 2.75)
  );
  width: 80vw;
  box-shadow: 0 0.9375rem 3.125rem 0 #6e75e6;
}

.videoPlayer {
  border-radius: clamp(
    calc(1em * 2),
    calc(calc(1em * 2) + (-1em * 48 * calc((2.75 - 2) / (100 - 48)))) +
      calc(100vw * calc((2.75 - 2) / (100 - 48))),
    calc(1em * 2.75)
  );
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 16 / 9;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  height: 100%;
  padding-top: 90px;
}

.footer {
  /* grid-row-start: 3;
  display: flex;
  gap: 24px; */
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
}
