/* body {
  overflow: hidden;
} */

.page {
  /* display: grid; */
  /* align-items: center; */
  /* justify-items: center; */
  max-width: 100vw;
  min-height: 100vh;
}

.nav {
  width: 100vw;
  height: 90px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.navMenu {
  z-index: 99;
  position: fixed;
  top: 90px;
  width: 100vw;
  height: calc(100vh - 90px);
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.navMenuItem {
  font-weight: 300;
  font-size: clamp(
    calc(1em * 1.3125),
    calc(calc(1em * 1.3125) + (-1em * 48 * calc((1.75 - 1.3125) / (100 - 48)))) +
      calc(100vw * calc((1.75 - 1.3125) / (100 - 48))),
    calc(1em * 1.75)
  );
  padding: 25px 48px;
  color: black;
  width: 100%;
  /* text-align: center; */
  border-bottom: 1px solid #00000031;
  cursor: pointer;
}

.navMenuItemL {
  font-weight: 300;
  font-size: clamp(
    calc(1em * 1.3125),
    calc(calc(1em * 1.3125) + (-1em * 48 * calc((1.75 - 1.3125) / (100 - 48)))) +
      calc(100vw * calc((1.75 - 1.3125) / (100 - 48))),
    calc(1em * 1.75)
  );
  padding: 25px 48px;
  color: black;
  width: 100%;
  /* text-align: center; */
  cursor: pointer;
}

.navMenuDivider {
  width: 100%;
  height: 0px;
  /* background: black; */
  margin: 0;
}

.links {
  display: flex;
  /* gap: 1rem; */
  align-items: center;
  margin-right: 16px;
}

.navlink {
  font-weight: 300;
  color: #292a2e;
  cursor: pointer;
  padding: 0.25em 1em;
}

.navlinkS {
  font-weight: 300;
  color: #292a2e;
  cursor: pointer;
  padding: 0.25em 1em;
}

.navButtonPrimary {
  background: #565add;
  color: #f0f1ff;
  border-radius: 9999px;
  font-weight: 300;
  font-size: clamp(
    calc(1em * 0.875),
    calc(calc(1em * 0.875) + (-1em * 48 * calc((1 - 0.875) / (100 - 48)))) +
      calc(100vw * calc((1 - 0.875) / (100 - 48))),
    calc(1em * 1)
  );
  cursor: pointer;
  margin-left: 1rem;
  width: fit-content;
  border: 5px solid #9fa1ec;
  padding: 0.65em 1em;
  line-height: 1.714rem;
  letter-spacing: calc(0.01rem - 0.005em);
  transition: transform 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;
}

.navButtonPrimary:hover {
  box-shadow: 0 0 20px rgba(86, 90, 221, 0.5);
  transform: translateY(-2px);
}

.navButtonSecondary {
  letter-spacing: calc(0.01rem - 0.005em);
  font-size: clamp(
    calc(1em * 0.875),
    calc(calc(1em * 0.875) + (-1em * 48 * calc((1 - 0.875) / (100 - 48)))) +
      calc(100vw * calc((1 - 0.875) / (100 - 48))),
    calc(1em * 1)
  );
  margin-left: 1rem;
  background: #f0f1ff;
  color: #4b42ae;
  border-radius: 9999px;
  font-weight: 300;
  line-height: 1.714rem;
  cursor: pointer;
  padding: 0.65em 1em;
  transition: transform 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;
}

.navButtonSecondary:hover {
  box-shadow: 0 0 20px rgba(75, 66, 174, 0.5);
  transform: translateY(-2px);
}

.section1 {
  background: #d1d1f7;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: clamp(5rem, 2.44rem + 5vw, 9rem);
  padding-bottom: 90px;
}

.section2 {
  background: #ffffff;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: clamp(5rem, 2.44rem + 5vw, 9rem);
  padding-bottom: 90px;
}

.trust {
  letter-spacing: calc(0.1rem - 0.072em);
  color: #2b1c50;
  font-size: clamp(
    calc(1em * 1.75),
    calc(calc(1em * 1.75) + (-1em * 48 * calc((3 - 1.75) / (100 - 48)))) +
      calc(100vw * calc((3 - 1.75) / (100 - 48))),
    calc(1em * 3)
  );
  font-weight: 500;
  text-align: center;
  max-width: 30ch;
  line-height: 1.143em;
}

.companies {
  display: flex;
  gap: 48px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  margin-bottom: clamp(3rem, 1.2rem + 3vw, 5rem);
}

.companyLogos {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: blue;
}

.buttonPrimary2 {
  background: #565add;
  color: #f0f1ff;
  border-radius: 9999px;
  font-weight: 600;
  cursor: pointer;
  border: 5px solid #9fa1ec;
  padding: 1.25em 1.5em;
  transition: transform 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;
}

.buttonPrimary2:hover {
  box-shadow: 0 0 20px rgba(86, 90, 221, 0.5);
  transform: translateY(-2px);
}

.quote {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  /* max-width: 800px; */
  color: #2b1c50;
  font-size: clamp(
    calc(1em * 2.1875),
    calc(calc(1em * 2.1875) + (-1em * 48 * calc((4.375 - 2.1875) / (100 - 48)))) +
      calc(100vw * calc((4.375 - 2.1875) / (100 - 48))),
    calc(1em * 4.375)
  );
  letter-spacing: calc(0.1rem - 0.072em);
  /* margin-bottom: 0.8rem; */
  line-height: 1.524;
}

.logo {
  height: 48px;
}

.description {
  letter-spacing: calc(0.1rem - 0.072em);
  font-size: clamp(
    calc(1em * 1.3125),
    calc(calc(1em * 1.3125) + (-1em * 48 * calc((1.75 - 1.3125) / (100 - 48)))) +
      calc(100vw * calc((1.75 - 1.3125) / (100 - 48))),
    calc(1em * 1.75)
  );
  font-weight: 300;
  text-align: center;
  max-width: 50ch;
  color: #3d2e7c;
  line-height: 1.524em;
}

.buttons {
  display: flex;
  gap: 16px;
  margin-top: 40px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: clamp(3rem, 1.2rem + 3vw, 5rem);
}

.buttonPrimary {
  background: #565add;
  color: #f0f1ff;
  border-radius: 9999px;
  font-weight: 600;
  cursor: pointer;
  border: 5px solid #9fa1ec;
  padding: 1.25em 1.5em;
  transition: transform 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;
}

.buttonPrimary:hover {
  box-shadow: 0 0 20px rgba(86, 90, 221, 0.5);
  transform: translateY(-2px);
}

.buttonSecondary {
  background: #f0f1ff;
  color: #4b42ae;
  border-radius: 9999px;
  font-weight: 600;
  cursor: pointer;
  padding: 1.25em 1.5em;
  transition: transform 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;
}

.buttonSecondary:hover {
  box-shadow: 0 0 20px rgba(75, 66, 174, 0.5);
  transform: translateY(-2px);
}

.video {
  margin: none;
  border-radius: clamp(
    calc(1em * 2),
    calc(calc(1em * 2) + (-1em * 48 * calc((2.75 - 2) / (100 - 48)))) +
      calc(100vw * calc((2.75 - 2) / (100 - 48))),
    calc(1em * 2.75)
  );
  width: 80vw;
  box-shadow: 0 0.9375rem 3.125rem 0 #6e75e6;
}

.videoPlayer {
  border-radius: clamp(
    calc(1em * 2),
    calc(calc(1em * 2) + (-1em * 48 * calc((2.75 - 2) / (100 - 48)))) +
      calc(100vw * calc((2.75 - 2) / (100 - 48))),
    calc(1em * 2.75)
  );
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 16 / 9;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  height: 100%;
  padding-top: 90px;
}

.footer {
  /* grid-row-start: 3;
  display: flex;
  gap: 24px; */
}

.logoRow {
  /* display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 16px;
  animation: marquee 15s linear infinite; */
}

.tryForFree {
  padding: 50px;
  width: 90vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #2b1c50;
  margin-top: 5vh;
  border-radius: clamp(
    calc(1em * 3.5),
    calc(calc(1em * 3.5) + (-1em * 48 * calc((4.5 - 3.5) / (100 - 48)))) +
      calc(100vw * calc((4.5 - 3.5) / (100 - 48))),
    calc(1em * 4.5)
  );
}

.tryContent {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.tryImage {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 50%; */
  /* border-radius: 50px; */
  /* background: blue; */
}

.tryImage2 {
  width: 80%;
  height: 80%;
  border-radius: 50px;
}

.tryText {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.tryTitle {
  font-size: 24px;
  font-weight: 500;
  color: #d1d1f7;
  margin-bottom: 8px;
  max-width: 20ch;
}

.tryLogo {
  font-size: clamp(
    calc(1em * 2.1875),
    calc(calc(1em * 2.1875) + (-1em * 48 * calc((4.375 - 2.1875) / (100 - 48)))) +
      calc(100vw * calc((4.375 - 2.1875) / (100 - 48))),
    calc(1em * 4.375)
  );
  color: #f0f1ff;
  font-weight: 500;
}

.tryDesc {
  font-size: clamp(
    calc(1em * 1.3125),
    calc(calc(1em * 1.3125) + (-1em * 48 * calc((1.75 - 1.3125) / (100 - 48)))) +
      calc(100vw * calc((1.75 - 1.3125) / (100 - 48))),
    calc(1em * 1.75)
  );
  font-weight: 400;
  color: #d1d1f7;
  max-width: 32ch;
  line-height: 1.524em;
}

.tryButtonPrimary {
  background: #565add;
  color: #f0f1ff;
  border-radius: 9999px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  width: fit-content;
  margin-top: 24px;
  border: 4px solid #3c3588;
  padding: 1.25em 1.5em;
  transition: transform 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;
}

.tryButtonPrimary:hover {
  box-shadow: 0 0 30px rgba(86, 90, 221, 0.5);
  transform: translateY(-2px);
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

.hamburger {
  display: none;
  cursor: pointer;
  border-radius: 9999px;
  background: #f0f1ff;
  padding: 10px;
  width: 48px;
  height: 48px;
}

.hamburgerActive {
  width: 48px;
  height: 48px;
  display: none;
  cursor: pointer;
  border-radius: 9999px;
  background: #565add;
  padding: 10px;
}

.hamburger span {
  display: block;
  width: 18px;
  height: 2.14px;
  margin: 5px;
  background-color: #625df5eb;
  /* border-radius: 2px; */
}

.hamburgerLine1 {
  translate: 4px;
  display: block;
  height: 2px;
  width: 20px;
  rotate: 45deg;
  position: relative;
  top: calc(50% - 1px);
  background-color: white;

  /* border-radius: 2px; */
}

.hamburgerLine2 {
  translate: 4px;
  display: block;
  width: 20px;
  height: 2px;
  rotate: -45deg;
  position: relative;
  top: calc(50% - 3px);
  background-color: white;

  /* border-radius: 2px; */
}

.navRight {
  display: flex;
  align-items: center;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 1440px) {
  .navlink {
    display: none;
  }
  .hamburger {
    display: block;
    cursor: pointer;
    /* background:blue; */
  }
  .track span {
    font-size: 28px !important;
  }
  .hamburgerActive {
    display: block;
    cursor: pointer;
    /* background:blue; */
  }

  .tryForFree {
    flex-direction: column;
    height: fit-content;
    /* padding: 80px; */
    padding-top: 90px;
    padding-bottom: 90px;
    gap: 32px;
  }
}

@media (max-width: 1048px) {
  .tryForFree {
    width: 100vw;
    border-radius: 0px;
  }
}

@media (max-width: 768px) {
  .links {
    display: none;
  }
  .hamburger {
    display: block;
    cursor: pointer;
    /* background:blue; */
  }
  .hamburgerActive {
    display: block;
    cursor: pointer;
    /* background:blue; */
  }
  .track span {
    font-size: 24px !important;
  }
  .tryForFree {
    padding: 40px 0;
  }

  .tryContent {
    flex-direction: column;
    align-items: start;
    width: 100%;
  }
  .tryImage {
    width: 100%;
    /* height: 50%; */
    /* border-radius: 50px; */
    /* background: blue; */
  }

  .tryText {
    margin-top: 24px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
  .tryDesc {
    max-width: 100%;
  }
}

.marqueeWrapper {
  overflow: hidden;
  background: #fff;
  padding: 2rem 0;
}

.marquee {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.track {
  display: flex;
  flex-shrink: 0;
  animation: scroll 20s linear infinite;
  color: #6b6b83;
  margin-bottom: 6vh;
}

.track span {
  display: inline-block;
  padding-right: 4rem;
  font-size: 32px;
  font-weight: 600;
  color: #857f99;
}

/* Animation */
@keyframes scroll {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(-50%);
  }
}

/* You can have different speeds for different rows */
.marquee1 .track {
  animation-duration: 50s;
}
.marquee2 .track {
  animation-duration: 40s;
}
.marquee3 .track {
  animation-duration: 60s;
}
